{% extends 'base.html.twig' %}

{% block body %}

    {% include 'Partials/mainmenu.html.twig' with {'marca': 'Misss Empresa'} %}

    <div class="container">

        <div class="page-header">
            <h1>{{ block('title') }}</h1>
        </div>

        {% block contenido %}{% endblock %}

    </div>

    <div class="container-fluid">
        <div>pie de página</div>
    </div>

{% endblock %}
