{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

    <div>banner</div>
    <div>menu</div>

    <h1>{{ block('title') }}</h1>

    {% block contenido %}{% endblock %}

    <div>pie de página</div>

{% endblock %}
