{% extends 'layoutCliente.html.twig' %}

{% block title %}Curso de Symfony{% endblock %}

{% block content %}

    <div id="content">
        <div class="container">
                <p class="text-muted lead text-center">{{ 'saludo.manzanas' | transchoice(manzanas, {'%nombre%': 'Juan'}) }}</p>
                <p>{{ lipsum(10) }}</p>
            <div class="row products">

                {% for producto in productos %}
                    {% include '@App/Partials/producto.html.twig'
                    with {
                    'producto': producto
                    } %}
                {% endfor %}

            </div>

        </div>
        <!-- /.container -->
    </div>

{% endblock %}