{% extends 'layoutCliente.html.twig' %}

{% block title %}Curso de Symfony{% endblock %}

{% block content %}

    <div id="content">
        <div class="container">
            <p class="text-muted lead text-center">In our Ladies department we offer wide selection of the best products
                we have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et
                netuss.</p>

            <div class="row products">

                {% for producto in productos %}
                    {% include '@App/Partials/producto.html.twig' with {'producto': producto} %}
                {% endfor %}

            </div>

        </div>
        <!-- /.container -->
    </div>

{% endblock %}